/classes/
build.properties
/export/
/java/classes/
/java/data/
/java/output/
/js/locale/
/js/output/
/js/package.json
**/localeinfo.json
/node_modules/*
js/node_modules/*
!/node_modules/nodeunit/
!/node_modules/.bin/nodeunit
