/classes/
build.properties
/export/
/java/classes/
/java/data/
/java/output/
/js/locale/
/js/output/
/js/package.json
js/.ant-targets-build.xml
**/localeinfo.json
**/*.stamp
/node_modules/*
js/node_modules/*
!/node_modules/nodeunit/
!/node_modules/.bin/nodeunit
**/*.stamp
qt/.ant-targets-build.xml
qt/FileReader/Makefile*
qt/FileReader/debug/
qt/FileReader/imports/
qt/FileReader/release/
qt/output/
qt/FileReader/.qmake.stash
qt/NodeunitRun.qmlproject.user
qt/NodeunitTest/NodeunitRun.qmlproject.autosave
qt/NodeunitTest/NodeunitRun.qmlproject.user.4.8-pre1
/node_modules/
/dist/
