language: node_js
node_js:
  - "4"
  - "6"
  - "8"
env:
  - CXX=g++-4.8
before_install:
  # Qt
  - sudo apt-add-repository --yes ppa:beineri/opt-qt551-trusty
  - sudo apt-get update -qq
install:
  - travis_wait 30 mvn install
  # Qt
  - sudo apt-get -y install qt55[QTPACKAGE]
  - sudo apt-get -y install qmlscene qt5-default qtdeclarative5-dev qtbase5-dev
  - npm install
script:
  # [Error] module QtQuick is not installed
  - source /opt/qt55/bin/qt55-env.sh
  # [Error] [exec] QXcbConnection: Could not connect to display
  - export QT_QPA_PLATFORM=offscreen
  # Error QFontDatabase: Cannot find font directory /usr/lib/x86_64-linux-gnu/fonts - is Qt installed correctly?
  - sudo ln -s /usr/share/fonts /usr/lib/x86_64-linux-gnu/fonts

  # iLib Full builde / Running nodeunit test.
  - ant test
  #- which qmake
  #- which qmlscene
  - cd qt/NodeunitTest
  - /usr/bin/qmlscene NodeunitRun.qml -I ../FileReader/imports/
branches:
  only:
    - master
    - development
sudo: required
