language: node_js
node_js:
  - "4"
  - "6"
env:
  - CXX=g++-4.8
install:
  - npm install uglify-js trireme
script:
  - ant test
branches:
  only:
    - master
    - development
sudo: required
dist: precise
