
@font-face {
  font-family: "MuseoSans 300";
  src: local("Museo Sans Medium"), url("../../fonts/MuseoSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Museo Sans 700";
  src: local("Museo Sans bold"), url("../fonts/MuseoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

.list-item-font {
	font-family: "MuseoSans 300";
	font-size:16px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.header-font {
	font-family: "MuseoSans 300";
	font-size:20px;	

}

.left-layout {
  height:65px;
  border-bottom:solid #9FA0A0 1px;
}

.left-toolbar {
  background-color:white;
  background-image: none;
  border-bottom-color: grey;
  border: none;
}

.left-header-date {
 	text-align: end;
  	padding-right: 60px;
  	font-family: "MuseoSans 300";
  	font-size:16px;
  	width:400px;
  	margin-top: 32px;
}
.right-iframe {
  height:100%;
  border:none
}