
@font-face {
  font-family: "MuseoSans 300";
  src: local("Museo Sans Medium"), url("../../fonts/MuseoSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans 700";
  src: local("Museo Sans bold"), url("../../fonts/MuseoSansBold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

#dt_example #container {
	/*width: 800px;*/
	width: 980px;
	margin: 30px auto;
	padding: 0;
}

#dt_example #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_example h1 {
	font-family: "Museo Sans 700";
	height:45px;
	font-weight:700;
	margin-top: 2em;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.6em;
	color: black;
	clear: both;
}

.spacer {
	border: solid 1px #9FA0A0;
	margin-top: 32px;
}


table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color: #DCDDDD;
	cursor: pointer;
	* cursor: hand;
	text-align: left;
	font-family: 'Museo Sans 700';
	font-size: 16px;
}


table.display td {
	padding: 3px 10px;
}

table.display tr.gradeA {
	font-family: 'MuseoSans 300';
	font-size:16px;
}


.table-border-underine {
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#DCDDDD;
}